[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fire = "*"

[dev-packages]
click = "*"
alembic = "*"
fire = "*"

[requires]
python_version = "3.10"
